<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shopify Inventory System</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<h1>See all your items!</h1>

<ul id="items-list">
</ul>

<h2>Add a new item to your inventory!</h2>

<form id="new-item-form">
  <div>
    <label for="form-name">Name: </label>
    <input name="name" id="form-name">
  </div>

  <div>
    <label for="form-price">Price: </label>
    <input name="price" id="form-price">
  </div>

  <div>
    <label for="form-image">Image: </label>
    <input name="image" id="form-image">
  </div>

  <button type="submit">Add!</button>
</form>

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/items.js"></script>

</body>
</html>